<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Monsterdex - Catálogo de Criaturas para DM´s e Narradores</title>
</head>
<body>
    <p id="titulo" style="text-align:center">MONSTERDEX</p>

<div id="bot_crud" style="text-align:center">
    <button type="button" class="add" id="add">ADICIONAR</button>
    <button type="button" class="edit" id="edit">EDITAR</button>
    <button type="button" class="del" id="del">EXCLUIR</button>
</div>

    {{#each monstro}}
        <div class="monsterblock">   
            <table class="monsters-table">
                <tr class="att-title">
                    <td class="att">Nome:</td>
                </tr>
                <tr>
                    <td class="fill-in">{{this.data.nome}}</td>
                </tr>
                <tr class="att-title">
                    <td class="att">Tipo:</td>
                </tr>
                <tr>
                    <td class="fill-in">{{this.data.tipo}}</td>
                </tr>
                <tr class="att-title">
                    <td class="att">Tipo de ataque/dano:</td>
                </tr>
                <tr>
                    <td class="fill-in">{{this.data.tipoataque}}</td>
                </tr>
            </table>
        </div>
    {{/each}}

</body>
</html>